<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="statusListInfo" class="com.xdc.bootcamp.boot.model.StatusListInfo" />
	<bean id="statusSingleInfo" class="com.xdc.bootcamp.boot.model.StatusSingleInfo" />

</beans>